.sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgb(15, 14, 14);
  color: white;
  width: 240px;
  border-radius: 8px;
  padding: 20px;
  gap: 20px;
  flex-shrink: 0;
  justify-content: center;
}
.sidebar a {
  color: white;
  padding: 15px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 5px;
  transition: background-color 500ms, color 500ms;
}
.sidebar a:hover {
  background-color: royalblue;
  color: white;
}
.sidebar .special {
  background-color: royalblue;
  color: white;
}
.sidebar .special:hover {
  background-color: white;
  color: black;
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .sidebar {
    flex-direction: row;
    width: 100%;
    background-color: white;
  }
  .sidebar a {
    flex-grow: 1;
    box-shadow: 0.2px 0.2px 1px;
  }
}
@media only screen and (max-width: 767px) {
  .sidebar {
    width: 100%;
  }
  .sidebar a {
    box-shadow: 0.2px 0.2px 1px;
  }
}
